
@media (max-width: 768px) {
    body {
        width: auto;
        padding: 0 20px;
    }

    .flex_box_header, .categories .container_2, .blog .blog_post {
        flex-direction: column;
    }

    .logo img {
        width: 120px;
    }

    .header_box ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .header_box ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .categories .left_sidebar, .categories .right_content {
        width: 100%;
        max-width: none;
    }

    .right_content .d_flex {
        flex-direction: column;
    }

    .right_content .d_flex article {
        width: 100%;
    }

    footer {
        flex-direction: column;
    }

    footer .flex-box, footer .flex-box-2, footer .flex-box-3 {
        flex-direction: column;
    }
}


@media (max-width: 480px) {
    .flex_box_header {
        margin: 10px auto;
    }

    .logo img {
        width: 100px;
    }

    .header_icons-login .header-icons, .header_icons-login .login {
        flex-direction: column;
        align-items: center;
    }

    .header_icons-login .login {
        width: auto;
        margin-top: 10px;
    }

    .banner .container {
        flex-direction: column;
        text-align: center;
    }

    .banner article, .blog .article_container, .footer-container .large-box {
        padding: 10px;
        width: 100%;
    }

    .categories .left_sidebar .category_list, .footer-container .box {
        padding: 0 10px;
    }
}
