$main_color:#4CAF50;
$main_font:'cera_proregular';


@font-face {
  font-family: 'cera_proregular';
  src: url('../fonts/cerapro-regular-webfont.eot');
  src: url('../fonts/cerapro-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cerapro-regular-webfont.woff2') format('woff2'),
  url('../fonts/cerapro-regular-webfont.woff') format('woff'),
  url('../fonts/cerapro-regular-webfont.ttf') format('truetype'),
  url('../fonts/cerapro-regular-webfont.svg#cera_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'cera_problack';
  src: url('../fonts/cerapro-black-webfont.eot');
  src: url('../fonts/cerapro-black-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cerapro-black-webfont.woff2') format('woff2'),
  url('../fonts/cerapro-black-webfont.woff') format('woff'),
  url('../fonts/cerapro-black-webfont.ttf') format('truetype'),
  url('../fonts/cerapro-black-webfont.svg#cera_problack') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'cera_promedium';
  src: url('../fonts/cerapro-medium-webfont.eot');
  src: url('../fonts/cerapro-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cerapro-medium-webfont.woff2') format('woff2'),
  url('../fonts/cerapro-medium-webfont.woff') format('woff'),
  url('../fonts/cerapro-medium-webfont.ttf') format('truetype'),
  url('../fonts/cerapro-medium-webfont.svg#cera_promedium') format('svg');
  font-weight: normal;
  font-style: normal;

}
:root {
  --main-font: 'Arial', sans-serif;
}

body {
  font-family: var(--main-font);

}

/* Стилізація основного контейнера заголовка */
.flex_box_header {
  display: flex;
  justify-content: space-around;
  padding: 10px 20px;
  flex-wrap: wrap;
  margin: 26px auto;
  align-items: flex-start;
  border-bottom: 0 solid rgba(70, 163, 88, 0.5);
}
/* Стилізація логотипу */
.logo img {
  width: 150px;
  position: relative;
  animation: bounceLogo 5s linear infinite;

}
@keyframes bounceLogo {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* Стилізація навігаційного меню */
.header_box ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  font-weight: 700;
  li{
    margin-right: 50px;
    &:last-child {
      margin-right: 0;
    }
    a {
      text-decoration: none;
      color: #333;
      font-weight: normal;
      position: relative;
      transition: all 0.3s ease;
      &:hover {
        font-weight: bold;
        &::after {
          width: 100%;
        }
      }
      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0;
        height: 2px;
        background-color: #4CAF50;
        transition: width 0.3s ease;
      }
    }
  }
  /*випадаюче меню*/
  .dropdown{
    display: block;
    list-style: none;
    position: relative;
    align-items: center;
    font-weight: 700;
    &:hover{
      .drop_menu{
        display: block;
        opacity: 1;
        height: auto;
        transition: 0.5s;
      }
    }
    .drop_menu{
      display: none;
      position: absolute;
      top:20px;
      opacity: 0;
      padding-top: 40px;
      background: #edf6ee;
      width: 178px;
      height: 143px;
      font-weight: 400;
      font-size: 16px;
      margin-right: 0;
      border-radius: 5px;
      a{
        display: block;
        padding: 10px 20px;
        color: black;
        text-decoration: none;
        transition: background-color 0.3s;
        margin-right: -50px;
        width: 178px;
        height: 35px;
        position: relative;
        &:after{
          display: none;
        }
        .arrow {
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
          transition: transform 0.3s, color 0.3s;
        }
        &:hover{
          background-color: #45a049;
          color: white;
          .arrow {
            color: white;
            transform: translateY(-50%) rotate(180deg);
          }
        }
      }
    }
  }
}



/* Стилізація субменю */
.drop{
  .drop-submenu {
    display: none;
    list-style: none;
    position: absolute;
    left: 100%;
    top: 0;
    margin-top: 100px;
    min-width: 160px;
    background: #edf6ee;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    margin-right: 0;
    li{
      &:last-of-type{
        width: 178px;
      }
    }
  }
  .drop_menu{
    &:hover {
      background-color: #45a049;
      color: white;
    }
  }
  &:hover{

  }
}

.drop:hover .drop-submenu {
  display: block;
}
.header-icons-login{
  display: flex;
  .header-icons {
    display: flex;
    align-items: center;
    margin-right: 30px;
    .frame_icon{
      width: 20px;
      height: 20px;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
    .shopping-cart-icon{
      svg {
        width: 29px;
        height: 24px;
        margin-left: 30px;
      }
    }
  }

  /* Стилізація кнопки входу */
  .login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 35px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    img {
      margin-right: 5px;
      width: 20px;
      height: auto;
    }
  }

}


body{
  width: 1200px;
  margin: auto;
}

/* Основні стилі контейнера */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Стилізація банера */
.banner {
  .container {
    background: linear-gradient(135deg, #f5f5f5 0%, #f5f5f5 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 450px;
    max-width: 1200px;
    margin: auto;
    .greenshop-welcome{
      font-size: 14px;
      line-height: 171%;
      text-transform: uppercase;
      color: #3d3d3d;
      padding-left:  3px;
      font-family: 'cera_promedium', serif;
    }
    .hero-text{
      font-weight: 400;
      font-size: 14px;
      line-height: 171%;
      color: #727272;
      margin-top: 5px;
      padding-bottom: 44px;
      font-family: 'cera_proregular', serif;
    }
  }
  article {
    max-width: 557px;
    display: inline-block;
    margin-right: 93px;
    padding-left: 40px;
    .better-planet {
      font-weight: 900;
      font-size: 60px;
      line-height: 100%;
      text-transform: uppercase;
      color: #3d3d3d;
      margin-top: 5px;
      font-family: 'cera_problack', serif;
    }
    .planet {
      color: #46a358;
    }

    .shop-now-button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #4CAF50;
      color: white;
      text-decoration: none;
      border: none;
      border-radius: 5px;
      font-weight: bold;
      text-align: center;
      transition: background-color 0.3s, color 0.3s;
      cursor: pointer;
      &:hover {
        background-color: #3e8e41;
        color: #fff;
      }
    }
  }
}

/*Категорії товарів*/
.categories{
  .container_2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 26px auto;
    align-items: flex-start;
  }
  .left_sidebar{
    max-width: 310px;
    background-color: #fbfbfb;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: 400;
    color: #3d3d3d;
    .category{
      width: 268px;
      height: 560px;
      background: #fbfbfb;
    }
    h4 a{
      font-weight: 700;
      font-size: 18px;
      line-height: 89%;
      color: #3d3d3d;
      text-decoration: none;
    }
    .category_list {
      list-style-type: none;
      margin-bottom: 300px;
      line-height: 267%;
      li {
        padding: 8px;
        cursor: pointer;
        font-style: normal;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        span{
          display: inline-block;
        }
        &:hover {
          color: green;
        }
      }
    }
    img{
      width: 310px;
      flex-basis: auto;
      margin-left: -20px;
    }
    .slider {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative; /* Дозволяє позиціонувати дочірні елементи відносно цього контейнера */
    }

    .ellipse {
      display: inline-block;
      width: 15px;
      height: 15px;
    }

    .line {
      height: 3px;
      background-color: #46A358;
      flex-grow: 1; /* Забезпечує розтягування лінії між кругами */
    }
    .line-extended {
      position: absolute;
      height: 1px; /* Тонша лінія */
      background-color: #A9DFBF; /* Блідіший відтінок зеленого */
      width: 100%; /* Робить лінію трохи довшою за основну */
      z-index: -1; /* Забезпечує, що лінія буде під основною зеленою лінією */
    }
    .price_filter{
      font-weight: 400;
      font-size: 15px;
      line-height: 107%;
      color: #3d3d3d;
      margin-bottom: 16px;
      span{
        font-weight: 700;
        color: #46a358;
      }
    }
    .filter_button{
      display: inline-block;
      padding: 10px 20px;
      text-decoration: none;
      border: none;
      border-radius: 6px;
      text-align: center;
      transition: background-color 0.3s, color 0.3s;
      cursor: pointer;
      font-weight: 700;
      font-size: 16px;
      line-height: 125%;
      color: #fff;
      background: #46a358;
      width: 90px;
      height: 35px;
      margin-bottom: 46px;
    }
    .size_list li {
      padding: 8px;
      cursor: pointer;
      font-style: normal;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      margin-bottom: 19px;
      span{
        display: inline-block;
      }
      &:hover {
        color: green;
      }
    }
  }
  .right_content{
    max-width: 840px;
    flex-direction: column;
    display: flex;
    .flex_2{
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      .dropdown-container {
        display: flex;
        align-items: center;
        p {
          margin-right: 10px;
        }
        img {
          width: 16px;
          height: 16px;
          display: block;
        }
      }
    }
    article{
      width: 258px;
      margin: 10px;
      border-top: solid 1px transparent;
      position: relative;
      &:hover{
        border-top: solid 1px #46a358;
      }
    }
    .d_flex{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-content: space-between;
      .product-description{
        .sale{
          position: absolute;
          left: 0;
          top: 0;
          background-color: #46a358;
          padding: 8px;
          font-weight: 500;
          font-size: 16px;
          line-height: 100%;
          text-decoration: none;
          color: white;
          text-align: center;
          text-transform: uppercase;
          margin-top: 10px;
        }
        .sale_1{
          font-weight: 400;
          line-height: 89%;
          color: #a5a5a5;
          margin-left: 10px;
          text-decoration: line-through;
        }
        ul{
          list-style-type: none;
          display: flex;
          position: absolute;
          left: 50%;
          transform: translate(-50px);
          bottom: 67px;
          width: auto;
          padding: 0 10px;
          opacity: 0;
          transition: 0.4s;
          li {
            width: 20px;
            height: 20px;
            margin-right: 10px;
            a img{
              width: 20px;
              height: 20px;
              margin-top: 12px;
              display: block;
              font-style: normal;
            }
            &:hover{
              color: #46a358;
              a{
                svg {
                  path{
                    stroke: #46a358!important;
                  }
                }
                color: #46a358;
              }
              :after {
                background-color: #46a358;
              }

            }
            &:after {
              content: "";
              display: block;
              margin-top: 22px;
              height: 3px;
              width: 100%;
              background-color: transparent;
              transition: background-color 0.3s;
            }

          }
        }
        &:hover{
          ul{
            opacity: 1;
          }
        }
      }
      article{
        ul {
          li:last-child {
            margin-right: 0;
          }
        }
        margin: 10px;
        padding: 15px;
        box-sizing: border-box;
        flex: 0 1 auto;
        align-items: flex-end;
        img {
          width: 100%;
          height: 291px;
        }
        p{
          margin: 5px 0;
        }
        span{
          margin: 5px 0;
          color: #46a358;
        }
      }

    }
    .flex_2 li{
      display: inline-block;
      margin-right: 50px;
      padding: 8px;
      cursor: pointer;
    }
    .d_block{
      flex-basis: 300px;
      background-color: #fbfbfb;
      margin: 10px;
    }
    .pagination{
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;
      margin-bottom: 80px;
      ul{
        display: flex;
        justify-content: space-between;
        li{
          list-style: none;
          margin-left: 10px;
          border-radius: 4px;
          width: 35px;
          height: 35px;
          overflow: hidden;
          &:last-of-type:hover a svg path{
            stroke: white!important;
          }
          &:hover{
            background-color: #46a358;
            a{
              color: white;
            }
          }
          svg:last-of-type{
            display: inline-block;
            position: relative;
            animation: slideright 1s infinite;
          }
          @keyframes slideright {
            0% {
              left: 0;
            }
            100% {
              left: 50px;
            }
          }
        }
      }
      a{
        border: 1px solid #e5e5e5;
        border-radius: 4px;
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: 18px;
        line-height: 89%;
        color: #3d3d3d;
      }
    }
  }
}

.blog_info {
  display: block;
  flex-basis: 100%;
  margin-bottom: 20px;
  .post{
    text-align: center;
  }
  .post_p{
    text-align: center;
  }
}
.blog{

  .blog_post{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 26px auto;
    align-items: flex-start;
  }
    .d_flex {
      max-width: 1200px;
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      article {
        padding: 15px;
        max-width: 586px;
        align-items: center;
      }
      .article_container img{
        align-items: center;
        height: 195px;
      }
      .article_container {
        gap: 20px;
        .article_date{
          color: #34a853;
        }
        .read-more {
          display: inline-block;
          margin-top: 10px;
          color: #3d3d3d;
          text-decoration: none;
          font-weight: bold;
          transition: color 0.3s ease;
          span {
            margin-left: 5px;
            transition: transform 0.3s ease;
          }
          &:hover {
            color: #34a853;
            span {
              transform: translateX(5px);
            }
          }
        }
      }
    }
    .flex_row {
      display: flex;
      .img{
        width: 289px;
        height: 287px;
      }
    }
    .d_flex{
      margin-bottom: 124px;
    }
  }

/*footer*/
  .footer-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 26px auto;
    align-items: flex-start;
    background: #fbfbfb;
    .flex-box {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 10px;
      width: 100%;
      .box {
        flex: 1;
        padding: 15px;
        margin: 5px;
      }
      .large-box {
        flex: 2;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        color: black;
        h4, p {
          text-align: left;
          width: 100%;
        }
        .email-form {
          display: flex;
          width: 100%;
          justify-content: center;
          gap: 0;
          margin: 10px 0;
          input[type="email"]{
            padding: 10px;
            font-size: 16px;
            flex-grow: 1;
            border-radius: 4px 0 0 4px;
            border: 1px solid #ccc;
          }
          button {
            font-size: 16px;
            padding: 10px 30px;
            border: none;
            background: #46a358;
            color: white;
            cursor: pointer;
            border-radius: 0  4px 4px 0;
          }
        }
      }
    }
    .flex-box-2 {
      background: linear-gradient(90deg, #edf6ef 0%, #52c368 100%);; /* Змінено кольори для більш світлого градієнта */
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      padding: 20px;
      font-weight: 400;
      font-size: 13px;
      line-height: 123%;
      .box_gradient {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        padding-left: 10px;
        .info-item {
          display: flex;
          align-items: center;
          width: 100%;
          padding-left: 100px;
          p {
            margin: 0;
          }
        }
        .logo {
          margin-bottom: 50px;
        }
      }
    }
  }
  .flex-box-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 20px;
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    .box_social_media {
      ul {
        list-style: none;
        padding: 0;
        margin-top: 20px;
        margin-bottom: 33px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;
        li {
          display: inline-block;
        }
      }
    }
    .box{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      padding: 20px;
      font-weight: 400;
      font-size: 13px;
      line-height: 123%;
      ul{
        list-style: none;
        padding: 0;
        margin-top: 10px;
        li{
          margin-bottom: 5px;
        }
      }
    }

  }

.copyright{
  text-align: center;
  margin: 20px 0;
}

@keyframes scroll {
  0% {
    transform: translateX(0%); /* Початкове положення справа за межами екрану */
  }
  100% {
    transform: translateX(100%); /* Кінцеве положення зліва за межами екрану */
  }
}

.sale {
  display: inline-block; /* Важливо для застосування transform */
  white-space: nowrap; /* Запобігає переносу тексту на новий рядок */
  position: relative; /* Потрібно для правильного позиціонування */
  animation: scroll 5s linear infinite;
}


.read-more-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #34a853;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Плавні ефекти переходу */
}

.read-more-btn span {
  display: inline-block;
  margin-left: 10px;
}

.read-more-btn:hover,
.read-more-btn:focus {
  background-color: #2c7b40;
  transform: translateX(5px);
}


.articles_line {
  align-items: flex-start;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.flex-box-3 a{
  text-decoration: none;
  color: inherit;
}
.owl-dots{
  text-align: center;
  .owl-dot{
span{
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 10px;
  background: #3d3d3d;
}
  }
}
.owl-carousel{
.owl-nav{
  button.owl-prev{
    span{
      display: none;
    }
    background-image: url("../images/arrow1.svg");
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    position: absolute;
    left: -30px;
    top: 150px;
    font-size: 50px;
    font-weight: bold;
    transform: rotate(180deg);
  }
  button.owl-next{
    span{
      display: none;
    }
    background-image: url("../images/arrow1.svg");
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    position: absolute;
    right: -30px;
    top: 150px;
    font-size: 50px;
    font-weight: bold;
  }
}
}

.ui-widget.ui-widget-content{
border: 1px solid #46A358;
  .ui-widget-header{
    background: #46A358;
  }
  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
    border: 1px solid #46A358;
    background: #46A358;
    border-radius: 10px;
  }
}

.faq{

  .container{
    max-width: 1200px;
    margin: auto;
  }
  .ui-accordion .ui-accordion-header{
    border-radius: 22px;
    padding: 20px 16px;
    background-color: transparent;
    border: solid 2px #34a853;
    &.ui-state-active{
      background-color: #A9DFBF;
      border-bottom: none;
      border-radius: 22px 22px 0 0;
      .ui-icon{
        transform: rotate(180deg);
      }
    }
  }
  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
    border: solid 2px #34a853;
    color: black;
  }
  .ui-accordion .ui-accordion-content{
    border: solid 2px #34a853;
    background-color: #A9DFBF;
    border-radius: 0 0 22px 22px;
    border-top: none;
  }
  .ui-icon{
    position: absolute;
    right: 20px;
    margin-top: 5px;
    background-image: none;
    background-position: 0;
    text-indent: 0;

  }
}
